name: Build and upload to PyPI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: 3.11
        architecture: x64
    - name: Build wheels
      uses: PyO3/maturin-action@v1
      with:
        target: ${{ matrix.target }}
        manylinux: auto
        args: --release --out dist -m python/Cargo.toml
    - name: Install built wheel
      if: matrix.target == 'x86_64'
      run: |
        pip install example_python_package_with_rust_backend --no-index --find-links dist --force-reinstall
        python -c "import example_python_package_with_rust_backend"
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist


  upload_pypi:
    runs-on: ubuntu-latest
    needs: [ linux ]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheels
      - name: List artifacts
        run: ls -lhs
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1



      # name: PyPI Python Package

# on:
#   release:
#     types: [published]

# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     permissions:
#       id-token: write
#     steps:
#       - uses: actions/checkout@v4
#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: '3.x'
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install build
#       - name: Build package
#         run: python -m build
#       - name: Publish a Python distribution to PyPI
#         uses: pypa/gh-action-pypi-publish@release/v1
